body{
	 background: #fff;
  color: #d6d6c2;
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

.responsive {
  width: 60%;
  height: auto;
}



.w3-btn{
	background-color:red;
	color:black;
	border-radius:7px;
	font-size:20px;
	margin:5px5px;
	font-family:"arial black";
	padding:8px 50px;
}
.w3-btn:hover{
	background-color:#D2B48C;
  color:black;
  
}







h3{
	font-family:helvetica;
	margin: auto;
    width: 60%;
    border: 6px solid #0000FF;
    padding: 20px;
}

div.npt{
	color:red;
	font-size:40px;
	padding:20px;
}

div.tx{

	font-size:30px;
	padding:20px;
}

div.bp{
	color:gray;
	font-size:40px;
	padding:20px;
}

div.info{
	color:white;
	font-size:30px;
	padding:20px;
}

div.ris{
	color:black;
	background-color:red;
	
}

div.fin{
	color:white;
	font-size:25px;
}


.container {
  border-radius: 5px;
  background-color: gray;
  height:250px;
  width:250px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
